# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__ Objectives: __

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
| Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
hours = 200//60
minutes = 200 % 60
print('hours: ', hours)
print('minutes:', minutes)

hours:  3
minutes: 20

## Author
Zahra Karamimehr